.body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
}

.main {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.main__task_type_even {
  background-color: aquamarine;
}

.main__task_type_odd {
  background-color: palevioletred;
}

.main__text_type_complete {
  text-decoration: line-through;
}

.main__button_inactive,
.main__extra-btns-edit_inactive {
  display: none;
}

.main__extra-btns-edit_active {
  display: flex;
}